.yellow-card {
    background-color: #FFFF99; /* Light yellow */
    border: 1px solid black;
    text-align: center;
    padding: 20px;
}
a.errorMessage{
    color: red;
    font-size: 14px;
    text-decoration: none;
}